<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.SpringBootMapper">

	<select id="selectSpringBootList" resultType="com.springboot.vo.SpringBootVO">
		/*springBootMapper.selectSpringBootList*/
		SELECT 
			IDX
			, TITLE
			, CONTENT
			, WRITER
			, VIEW_CNT
			, NOTICE_YN
			, SECRET_YN
			, DELETE_YN
			, INSERT_TIME
			, UPDATE_TIME
			, DELETE_TIME
		FROM TB_BOARD
		WHERE 1=1
		LIMIT 1;
	</select>
</mapper>